@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Syne&display=swap');

.container-xl {
    background: red;
}

.navbar-brand .heart-icon {
    color: black;
}

.h1 {
    font-family: 'Syne', sans-serif !important;
}

img {
    max-width: 100%;
    height: auto;
    transform: scaleX(-1);
}

.authentication{
    color: #000000A6;
}

.container-fluid{
    padding: 0;
    margin: 0;
}

.cont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f3f3f3;

    border-radius: 5em;

    width: 55em;
    height: 30em;

    box-shadow: 0 0 20px 26px rgba(0, 0, 0, 0.19)
}

.goodJob{
    font-size: 2em;
    padding: 0.3em;
    font-weight: lighter;
}

.name{
    font-weight: bold;
}

.text{
    padding: 1em 10em 1em 10em;
    text-align: center;
    color: #76756C;
    font-size: 1.1em;
}

.button button{
    border-radius: 0.7em;
    border-color: #D6E2F5;
    background-color: #D6E2F5;
    padding: 0.4em;
    margin: 0.3em 0 0 0;
    font-size: 1.3em;
}

.gg-check-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 5em;
    height: 5em;
    border: 2px solid #EE5B3D;
    background-color: #EE5B3D;
    border-radius: 100px;
}
.gg-check-o::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 16px;
    top: -1px;
    width: 1.3em;
    height: 2.5em;
    border-color: #fff;
    border-width: 0 8px 7px 0;
    border-style: solid;
    border-radius: 45px 10px 10px 10px;
    transform-origin: bottom left;
    transform: rotate(45deg)
}

.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
}
/*.form.signup{*/
/*    opacity: 0;*/
/*    pointer-events: none;*/
/*}*/
/*!*.forms.show-signup .form.signup{*!*/
/*!*    opacity: 1;*!*/
/*!*    pointer-events: auto;*!*/
/*!*}*!*/
/*!*.forms.show-signup .form.login{*!*/
/*!*    opacity: 0;*!*/
/*!*    pointer-events: none;*!*/
/*!*}*!*/
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #016dcb;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: #0171d3;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }

}