@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Syne&display=swap');


/* Global styles */
body {
    font-family: 'Inter', sans-serif;
    overflow-y: scroll;
    padding-bottom: 70px;
    min-height: 100vh; /* Set body to at least viewport height */
    display: flex;
    flex-direction: column;
}

.h1 {
    font-family: 'Syne', sans-serif;
}

.container-fluid {
    padding: 0;
    margin: 0;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}


/*End Global Styles*/

/*Account Page*/

.header-account {
    background-color: #007bff;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    font-family: 'Syne', sans-serif;
}

.header-account h1, .header-account p {
    margin: 0;
}

.header-account p {
    font-size: 1.2em;
}

.container-account {
    max-width: 600px;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
}

.btn-go-back {
    background-color: #6c757d;
    color: white;
    margin-right: 10px;
}

.button-group {
    display: flex;
    gap: 10px; /* Adds space between the buttons */
}

/*End Account Page*/

/*Login Page*/
.containerLogin {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4070f4;
    column-gap: 30px;
}

.bodyLogin {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
    background-color: #4070f4;
}

.headerLogin {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

.formLogin {
    margin-top: 30px;

}

/*End Login Page*/

/*SignUp Page*/
.bodySign {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
    background-color: #4070f4;
}

.containerSign {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4070f4;
    column-gap: 30px;
}

.headerSign {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

.formSign {
    margin-top: 30px;
}

/*End SignUp Page*/

/*Surveys Page*/
.survey-item {
    cursor: pointer;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #f8f9fa;
}

/*End Surveys Page*/

/*Pop Up Subscribe*/
.thankYouPage {
    background-color: #0C6EFD;
    font-family: 'Syne', sans-serif;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-content {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    float: right;
    cursor: pointer;
}

.close:hover {
    color: #aaa;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/*End Pop Up Subscribe*/


img {
    max-width: 100%;
    height: auto;
    transform: scaleX(-1);
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
    img {
        max-width: 80%;
    }
}

/* Responsive styles for larger screens */
@media screen and (min-width: 1200px) {
    img {
        max-width: 1200px;
    }
}

.authentication {
    color: #000000A6;
}

/*Thank You Page*/
.cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f3f3f3;

    border-radius: 5em;

    width: 55em;
    height: 30em;

    box-shadow: 0 0 20px 26px rgba(0, 0, 0, 0.19)
}

.goodJob {
    font-size: 2em;
    padding: 0.3em;
    font-weight: lighter;
}

.name {
    font-weight: bold;
}


.text {
    padding: 1em 10em 1em 10em;
    text-align: center;
    color: #76756C;
    font-size: 1.1em;
}

/*End Thank You Page*/

/*Index Page*/
.jumbotron {
    background-color: #007bff;
    color: #fff;
    padding: 2rem 1rem;
    margin-bottom: 0;
}

.page-content {
    padding: 20px;
}

/*End Index Page*/


.button button {
    border-radius: 0.7em;
    border-color: #D6E2F5;
    background-color: #D6E2F5;
    padding: 0.4em;
    margin: 0.3em 0 0 0;
    font-size: 1.3em;
}

.gg-check-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 5em;
    height: 5em;
    border: 2px solid #EE5B3D;
    background-color: #EE5B3D;
    border-radius: 100px;
}

.gg-check-o::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 16px;
    top: -1px;
    width: 1.3em;
    height: 2.5em;
    border-color: #fff;
    border-width: 0 8px 7px 0;
    border-style: solid;
    border-radius: 45px 10px 10px 10px;
    transform-origin: bottom left;
    transform: rotate(45deg)
}

.form {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
}

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid #CACACA;
}

.field input:focus {
    border-bottom-width: 2px;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button {
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover {
    background-color: #016dcb;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.form a {
    color: #0171d3;
    text-decoration: none;
}

.form-content a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 400px) {
    .form {
        padding: 20px 10px;
    }

}

/*Surveys Page - button view for admins*/
.button-container {
    display: flex;

    justify-content: flex-start;
}

.button-spacing {
    margin-right: 10px;
}

/*End Surveys Page - button view for admins*/


/*Header*/
.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .authentication {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    white-space: nowrap;
}

.navbar-nav .btn {
    white-space: nowrap;
}

/*Header End*/
