<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Account</title>
    <script src="/js/account.js" type="module"></script>
    <thymeleaf th:replace="~{header :: meta_script_link}"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
<header th:replace="~{header :: header}"></header>

<div class="header-account">
    <div class="container">
        <h1>My Account</h1>
        <p>Welcome, <span th:text="${#authentication.principal.firstName}"></span>!</p>
        <p>You can manage your data here.</p>
    </div>
</div>

<div class="container container-account">
    <div class="row">
        <input id="accountId" type="hidden" th:value="${account.id}">
        <div class="col-md-12 bg-white p-4 rounded shadow-sm">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <textarea th:if="${account.modificationAllowed}" class="form-control" id="firstNameTextArea" rows="1"
                          th:text="${#authentication.principal.firstName}"></textarea>
                <p th:if="${!account.modificationAllowed}" id="firstName"
                   th:text="${#authentication.principal.firstName}" class="form-control-static"></p>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <textarea th:if="${account.modificationAllowed}" class="form-control" id="lastNameTextArea" rows="1"
                          th:text="${#authentication.principal.lastName}"></textarea>
                <p th:if="${!account.modificationAllowed}" id="lastName" th:text="${#authentication.principal.lastName}"
                   class="form-control-static"></p>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <textarea th:if="${account.modificationAllowed}" class="form-control" id="emailTextArea" rows="1"
                          th:text="${#authentication.principal.username}"></textarea>
                <p th:if="${!account.modificationAllowed}" id="email" th:text="${#authentication.principal.username}"
                   class="form-control-static"></p>
            </div>
            <div class="form-group">
                <label for="userType">User Type</label>
                <p id="userType" th:text="${#authentication.principal.userType}" class="form-control-static"></p>
            </div>
            <div class="button-group mt-4">
                <a href="/surveys" class="btn btn-outline-dark">Go Back</a>
                <button id="updateButton" type="button" class="btn btn-primary">Update</button>
                <a th:if="${account.userType == 'ORG_ADMIN'}" href="/addSupervisor" class="btn btn-primary">Add
                    Supervisor</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>

</body>
</html>
