<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Survey Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Syne&display=swap" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid">
    <div th:replace="~{navbar.html}"></div>

    <form id="surveyForm">
        <div class="mb-3">
            <label for="surveyName" class="form-label">Survey Name</label>
            <input type="text" class="form-control" id="surveyName" name="surveyName" required placeholder="Enter the name of your survey">
        </div>
        <div class="mb-3">
            <label for="surveyType" class="form-label">Survey Type</label>
            <select class="form-select" id="surveyType" name="surveyType" required>
                <option value="LINEAR">Linear</option>
                <option value="CIRCULAR">Circular</option>
            </select>
        </div>
        <div id="questionContainer"></div>
        <button type="button" class="btn btn-primary" id="addQuestionBtn">Add Question</button>
        <button type="submit" class="btn btn-success mt-3">Submit Survey</button>
    </form>


</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/addsurvey.js" defer></script>
</body>
</html>