<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="~{header :: meta_script_link}"/>

    <title> Signup Form </title>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <script src="/js/signup.js" type="module"></script>
</head>
<body class="bodySign">
<header th:replace="~{header :: header}"></header>

<section class="container forms containerSign">
    <div class="form signup" id="signup">
        <div class="form-content">
            <header class="headerSign">Create Account</header>
            <form th:action="@{/api/addSupervisor}" method="post" class="formSign">
                <div th:replace="userCreationForm"></div>
                <div class="field button-field">
                    <button type="submit">Create Account</button>
                </div>
            </form>
        </div>

    </div>
</section>
<div th:replace="~{footer :: footer}"></div>

</body>
</html>

