<!DOCTYPE html>
<html lang="en">
<head>
    <title>Votingly - Features</title>
    <thymeleaf th:replace="~{header :: meta_script_link}"/>
</head>

<body>
<div class="container-fluid">
    <header th:replace="~{header :: header}"></header>
    <div class="page-content">
        <div class="jumbotron rounded d-flex align-items-end justify-content-start py-5">
            <div class="row">
                <p class="h1 text-white" style="font-family: 'Syne', sans-serif">Votingly Features</p>
                <p class="text-white" style="font-family: 'Work sans', sans-serif">Discover what sets Votingly apart
                    from other voting platforms.</p>
            </div>
<!--            <div class="col-md-6 d-flex align-items-end justify-content-end">-->
<!--                <img src="/images/features.png" class="img-fluid float-right" alt="Features Image">-->
<!--            </div>-->
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Feature 1</h2>
                    <p>Description of feature 1.</p>
                </div>
                <div class="col-md-4">
                    <h2>Feature 2</h2>
                    <p>Description of feature 2.</p>
                </div>
                <div class="col-md-4">
                    <h2>Feature 3</h2>
                    <p>Description of feature 3.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
