<!DOCTYPE html>
<html lang="en">
<head>
    <title>Votingly</title>
    <thymeleaf th:replace="~{header :: meta_script_link}"/>

    <script src="/js/index.js" type="module"></script>
</head>

<body>
<div class="container-fluid">
    <header th:replace="~{header :: header}"></header>
    <div class="container-xl bg-primary rounded d-flex align-items-end justify-content-start py-5">
        <div class="row">
            <p class="h1 text-white" style="font-family: 'Syne', sans-serif">Votingly</p>
            <p class="text-white" style="font-family: 'Work sans', sans-serif">We strive for a future where voting is
                not just about
                filling out boring
                forms.!</p>
        </div>
        <div class="row">
            Hello!
        </div>
        <img th:src="@{/images/1.png}">
    </div>
</div>
</body>
</html>
