<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="~{header :: meta_script_link}"/>

    <title>Login</title>

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <script src="/js/login.js" defer></script>
</head>
<body class="bodyLogin">
<header th:replace="~{header :: header}"></header>

<section class="container forms containerLogin">
    <div class="form login">
        <div class="form-content">
            <header class="headerLogin">Login</header>
            <form th:action="@{/login}" method="post" id="signInForm" class="formLogin">
                <div class="field input-field">
                    <input placeholder="Email" name="username" id="username" class="input">
                    <span class="error" aria-live="polite" id="emailError"></span>
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password" name="password" id="password">
                    <i class='bx bx-hide eye-icon'></i>
                    <span class="error" aria-live="polite" id="pswError"></span>
                </div>

                <div class="field button-field">
                    <button type="submit" class="btn btn-primary" id="signInButton">Sign in</button>
                </div>
            </form>

            <div class="form-link">
                <span>Don't have an account? <a class="link signup-link" id="signUpButton">Signup</a></span>
            </div>
        </div>
    </div>
</section>
</body>
</html>
