<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <thymeleaf th:replace="~{header :: meta_script_link}"/>
</head>
<body>

<header th:fragment="navbar">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-family: 'Syne', sans-serif">
        <div class="container-fluid">
            <div class="container ml-2"><a class="navbar-brand" href="/">Votingly</a></div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav" style="display: flex;">
                    <li class="authentication" sec:authorize="isAuthenticated()">
                        <a class="nav-link" id="welcome">Welcome, <span
                                th:text="${#authentication.principal.firstName}"></span>!</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/account(id=${#authentication.principal.userId})}"
                           id="myAccount">My Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>
