<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <thymeleaf th:replace="~{header :: meta_script_link}"/>

    <title>Home</title>
    <script src="/js/supervisor.js" type="module"></script>

    <style>
        /* Custom CSS */
        .survey-name {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .notes-textarea {
            height: 150px;
        }
    </style>
</head>
<body>

<header th:replace="~{header :: header}"></header>

<input type="hidden" id="surveyId" th:value="${surveyId}">

<div class="container">
    <!-- Survey Name -->
    <div class="row justify-content-center">
        <div class="col-12 text-center mt-4">
            <h2 id="surveyName" class="survey-name"></h2>
        </div>
    </div>

    <!-- Notes Section -->
    <div class="row justify-content-center">
        <div class="col-12">
            <h4>Notes</h4>
            <textarea id="note" class="form-control notes-textarea" placeholder="Write your notes here..."></textarea>
            <button onclick="saveNote()" id="saveNote" class="btn btn-primary mt-2">Save Note</button>
        </div>
    </div>

    <!-- Other Existing Surveys -->
    <div class="row mt-4">
        <div class="col-md-6 offset-md-6">
            <h4>All Surveys</h4>
            <ul id="otherSurveys" class="list-group">
            </ul>
        </div>
    </div>

</div>
<div th:replace="~{footer :: footer}"></div>

</body>
</html>
