<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Survey Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Syne&display=swap" rel="stylesheet"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/js/survey.js" defer></script>
</head>
<body>
<div class="container-fluid">
    <div th:replace="~{navbar::navbar}"></div>

    <input type="hidden" id="surveyName" th:value="${survey.surveyName}">
    <input type="hidden" id="surveyId" th:value="${survey.surveyId}">


    <div class="container my-4">
        <h1 class="text-center" style="font-family: 'Syne', sans-serif;" id="nameContainer"></h1>
    </div>

    <div class="container">
        <div class="row" id="questionsContainer">
            <input type="hidden" id="questionId" th:each="questionId : ${questionIds}" th:value="${questionId}">
        </div>
    </div>

    <div class="container mt-4 text-center">
        <button class="btn btn-primary" id="submitAnswerButton">Submit</button>
    </div>
</div>

</body>
</html>
