<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <thymeleaf th:replace="~{header :: meta_script_link}"/>
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container-fluid {
            padding: 2rem;
        }
        .question-block {
            border: 1px solid #dee2e6;
            padding: 1rem;
            border-radius: 0.25rem;
            background-color: #ffffff;
        }
        .question-block:not(:last-child) {
            margin-bottom: 1rem;
        }
        .btn-info {
            color: #fff;
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <header th:replace="~{header :: header}"></header>
    <div class="mb-3">
        <label for="surveyName" class="form-label">Survey Name</label>
        <input type="text" class="form-control" id="surveyName" name="surveyName" required value="Sample Survey"
               disabled>
        <!--        <button type="button" class="btn btn-primary mt-2" id="editSurveyNameBtn">Edit</button>-->
        <input type="hidden" id="surveyId" th:value="${survey.id}"></div>
    <div class="mb-3">
        <label for="surveyType" class="form-label">Survey Type</label>
        <select class="form-select" id="surveyType" name="surveyType" required disabled>
            <option value="LINEAR">Linear</option>
            <option value="CIRCULAR" selected>Circular</option>
        </select>
        <!--        <button type="button" class="btn btn-primary mt-2" id="editSurveyTypeBtn">Edit</button>-->
    </div>
    <div id="questionContainer">
        <!-- Questions will be populated dynamically -->
    </div>
    <div class="button-group">
        <button type="button" class="btn btn-outline-primary" id="addQuestionBtn">Add Question</button>
        <button type="button" class="btn btn-success" id="saveChangesBtn" disabled>Save Changes</button>
        <button id="removeSurveyBtn" class="btn btn-outline-danger">Remove Survey</button>
    </div>
</div>
<div th:replace="~{footer :: footer}"></div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/surveydetails.js" type="module"></script>
</body>
</html>
