<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/js/survey.js" defer></script>
    <title th:text="${survey.formName}"></title>
</head>
<body>
<div class="container">
    <input type="hidden" id="surveyId" th:value="${survey.id}">
    <h1 th:text="${survey.formName}"></h1>
    <div class="container" id="questionsContainer">
        <label for="field">Question Text</label>
        <div id="field">Answer</div>
    </div>
</div>
</body>
</html>