<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <thymeleaf th:replace="~{header :: meta_script_link}"/>

    <title>Home</title>
    <script src="/js/surveys.js" type="module"></script>

</head>
<body>
<header th:replace="~{header :: header}"></header>
<div class="container-fluid">

    <div sec:authorize="isAuthenticated()">
        <input type="hidden" id="userType" th:value="${#authentication.principal.userType}"/>
    </div>

    <div class="container">
        <p class="h1 text-center" style="font-family: 'Syne', sans-serif">Available Surveys</p>
        <div class="row" id="surveys-list"></div>
    </div>
    <div id="buttonContainer"></div>

</div>

<div sec:authorize="isAuthenticated()" class="position-fixed bottom-0 end-0 p-3">
    <a th:href="@{/surveys/add}" class="btn btn-primary"><i class="bi bi-plus-lg"></i>Add </a>
</div>

</body>
</html>
