<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <thymeleaf th:replace="~{header :: meta_script_link}"/>
</head>
<body>

<div class="container-fluid">
    <header th:replace="~{header :: header}"></header>
    <div class="mb-3">
        <label for="surveyName" class="form-label">Survey Name</label>
        <input type="text" class="form-control" id="surveyName" name="surveyName" required value="Sample Survey" disabled>
<!--        <button type="button" class="btn btn-primary mt-2" id="editSurveyNameBtn">Edit</button>-->
        <input type="hidden" id="surveyId" th:value="${survey.id}"></div>
    <div class="mb-3">
        <label for="surveyType" class="form-label">Survey Type</label>
        <select class="form-select" id="surveyType" name="surveyType" required disabled>
            <option value="LINEAR">Linear</option>
            <option value="CIRCULAR" selected>Circular</option>
        </select>
<!--        <button type="button" class="btn btn-primary mt-2" id="editSurveyTypeBtn">Edit</button>-->
    </div>
    <div id="questionContainer">
        <!-- Questions will be populated dynamically -->
    </div>
    <button type="button" class="btn btn-primary mt-3" id="addQuestionBtn">Add Question</button>
    <button type="button" class="btn btn-success mt-3" id="saveChangesBtn" disabled>Save Changes</button>
    <button id="removeSurveyBtn" class="btn btn-danger mt-3" style="right: 20px" >Remove Survey</button>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/surveydetails.js" type="module" defer></script>
</body>
</html>
