<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subscripe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Syne&display=swap" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid">
    <div th:replace="navbar.html"></div>
    <h3>Thank you</h3>
    <button type="button">Subscribe</button>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/survey.js" defer></script>
</body>
</html>
