<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Thank You!</title>
    <script src="/js/thank-you-page.js" type="module"></script>
    <thymeleaf th:replace="~{header :: meta_script_link}"/>
</head>
<body class="thankYouPage">
<div th:replace="~{navbar::navbar}"></div>

<div class="container-fluid">
    <div class="cont">
        <div class="gg-check-o"></div>
        <div class="goodJob">
            <a class="goodJob">Good Job <span sec:authorize="isAuthenticated()" sec:authentication="name"
                                              class="name"></span>!</a>
        </div>
        <div>
            <p class="text">Stay updated with the latest news and exclusive offers!
                Subscribe now to our newsletter and never miss out on exciting updates,
                insightful articles, and special discounts. Join our community today and embark
                on a journey of knowledge and discovery.</p>
        </div>

        <div class="button">
            <button id="subscribeBtn" type="button">Subscribe</button>
        </div>

        <div id="popup" class="popup">
            <div class="popup-content">
                <span class="close">&times;</span>
                <h2>Subscribe</h2>
                <input type="email" id="emailInput" placeholder="Enter your email">
                <button id="subscribeSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
