<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Subscribe</title>
    <thymeleaf th:replace="~{header :: meta_script_link}"/>

    <style>
        body {
            background-color: #0C6EFD;
            font-family: 'Syne', sans-serif;
        }
    </style>
</head>
<body>
<div th:replace="~{navbar::navbar}"></div>

<div class="container-fluid">
    <div class="cont">
        <div class="gg-check-o"></div>
        <div class="goodJob">
            <a class="goodJob">Good Job <span sec:authorize="isAuthenticated()" sec:authentication="name"
                                              class="name"></span>!</a>
        </div>
        <div>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, facere harum ipsa laborum
                non odio quidem quisquam ut vitae voluptate.</p>
        </div>

        <div class="button">
            <button type="button">Subscribe</button>
        </div>
    </div>
    <!--    <img class="pattern" th:src="@{/images/2.png}">-->
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/survey.js" defer></script>
</body>
</html>
