<div class="field input-field">
    <input id="firstName" name="firstName" type="text" placeholder="First Name" class="input" required>
</div>

<div class="field input-field">
    <input id="lastName" name="lastName" type="text" placeholder="Last Name" class="input" required>
</div>

<div class="field input-field">
    <input id="email" name="email" type="email" placeholder="Email" class="input" required>
</div>

<div class="field input-field">
    <input id="password" name="password" type="password" placeholder="Create password" class="password"
           required minlength="6"/>
    <i class='bx bx-hide eye-icon'></i>
</div>